.DS_Store
.pytest_cache/
.ruff_cache/
__pycache__/
*.pyc

.venv/
.venv313/
.venv313a/
.venv313b/
.wheels/

src/*.egg-info/

config/groups.yaml

data/*.db
data/*.session
data/media/

exports/
reports/*.json
